<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="connectionString" 
			 providerName="MySql.Data.MySqlClient" 
			 connectionString="Server=localhost;Port=3306;Database=prodavnicadb;UserId=root;Password=mysqlworkbench;" />
	</connectionStrings>
</configuration>